body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: small;
}
main{
    width: 1160px;
}





/* -------------------------------------------
                header section 
----------------------------------------------*/


header{
    background-color: #2D25A0;
    width: 1156px;
    height: 729px;
    color: white;
}
.header-section{
    display: flex;
}

.header-text{
    width: 485px;
    height: 230px;
    margin-top: 207px;
    margin-left: 156px;

}
a{
    text-decoration: none;
    color:white ;
    background-color: rgb(172, 23, 55);
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 10px
}
.link:hover{
    transform: scaleY(1.5);
    transition: 0.5s;



}
p{
    font-weight: 100px;
    font-size: 16px;
}

.banner img{
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 126px;
    margin-right: 140px ;
    margin-left: 90px;
    

}


/* --------------------------------------------
                player section 
----------------------------------------------*/


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 100px;
    width: 1160px;
   
  
    
}

.player{
    margin-top: 20px;
    width: 330px;
    height: 500px;
    box-shadow: 30px 30px 30px 30px rgb(243, 238, 238) ;
}
.players .player .player-img img{
    width: 300px;
    height: 256px;
    
}


/*------------------------------------------------
                champian section
 --------------------------------------------- */

 .champian{
     width: 1160px;
     margin-top: 100px;
     text-align: center;
     box-shadow:  30px 30px 30px 30px lightgrey;
 }

.champian h2{
     
 }
.champian p{

}

/*------------------------------------------
            best player section 
---------------------------------------------*/

.best-players{
    display: flex;
    width: 1160px;
    margin-top: 100px;
    margin-left: 50px;
    
}


/* --------------------------------------
            footer section
-------------------------------------------- */

footer{
    margin-top: 100px;
    text-align: center;
}

/* ----------------------------------------
                midea query
---------------------------------------------- */



@media only screen and (max-width: 688px) {
    main{
        width: 100%;
    }
    .players{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .player{
        text-align: center;
        width: 200px;
        height: 300px;

    }
    .champian{
        width: 100%;
        display: none;
    }
    }
    footer{
        width: 100%;
    }
}
